# Data cleaning and preprocessing

## imports

In [1]:
import random
import datetime

import pandas as pd 
import numpy as np 

# round to two decimal places in python pandas
pd.options.display.float_format = '{:.2f}'.format

random.seed(999)

## Loading  and checking data

In [2]:
# Checking size and first rows of files train and test 
row_numbers_train = sum(1 for row in open('../data/train.csv'))
row_numbers_test = sum(1 for row in open('../data/test.csv'))

total_rows = row_numbers_train + row_numbers_test

print(f'train.csv file has: {row_numbers_train} rows ({round(row_numbers_train/total_rows,4)*100}%)')
print(f'test.csv file has: {row_numbers_test} rows ({round(row_numbers_test/total_rows,4)*100}%)')

train.csv file has: 55423857 rows (99.98%)
test.csv file has: 9915 rows (0.02%)

To avoid some memory problems loading all 55 MM of files lets make a sample in train file to train models. We also 'll leave Test.csv to final validation. we 'll use a "validation sample" as our test dataset.

In [3]:
# defining a util function 
def get_sample_pandas(
        sample_size:int,
        population_filepath:str=None,
        file_format:str='csv',
        head:bool= True
)-> pd.DataFrame:
    """function to receive a sample size and bootsrap using random a number or rows
        loaded in pandas.
    """
    if head is True:
        start_step = 1 
    else:
        start_step = 0
    #row count on population files    
    population_rows = sum (1 for row in open(population_filepath))
    
    #bootstap of rows to not be skipped
    skipped_rows = sorted(
        random.sample(
            range(start_step,population_rows+1),
            population_rows - sample_size
        )
    )

    return pd.read_csv(population_filepath,skiprows=skipped_rows)

Lets start with 5.5 millions of rows to explore and model data

In [4]:
dataset = get_sample_pandas(sample_size=5_500_000 ,population_filepath='../data/train.csv')
dataset.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2011-08-18 00:35:00.00000049,5.70,2011-08-18 00:35:00 UTC,-73.98,40.76,-73.99,40.75,2
1,2013-11-23 12:57:00.000000190,5.00,2013-11-23 12:57:00 UTC,0.00,0.00,0.00,0.00,1
2,2012-05-04 06:11:20.0000002,9.30,2012-05-04 06:11:20 UTC,-73.99,40.69,-74.00,40.73,1
3,2011-03-29 15:39:49.0000002,8.10,2011-03-29 15:39:49 UTC,-73.98,40.74,-73.98,40.76,1
4,2014-05-01 09:12:00.000000198,7.00,2014-05-01 09:12:00 UTC,-73.97,40.77,-73.98,40.77,6

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500000 entries, 0 to 5499999
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   key                object
 1   fare_amount        float64
 2   pickup_datetime    object
 3   pickup_longitude   float64
 4   pickup_latitude    float64
 5   dropoff_longitude  float64
 6   dropoff_latitude   float64
 7   passenger_count    int64
dtypes: float64(5), int64(1), object(2)
memory usage: 335.7+ MB

 observations:

- Some values is null.
- Pickup_datetime values its look's like datetime format but it is formated as object. it is posible to change that to datatime (key is designed to be a ID_event and not interpreted as date)
- Some variables coud be downcasted to lower type formats reduce and optimize calculations. 
- target variable is fare_amout

In [6]:

# getting cols with nulls
null_cols = [ col for col in dataset.columns if dataset[col].isnull().sum()>0]

#print 2 rows of each colummn to  sanity check
for column in null_cols:
    print(f" Column :  |{column}|")
    print("="*80)
    print(dataset[dataset[column].isnull()].head(2))
    print("="*80)

 Column :  |dropoff_longitude|
================================================================================
                                key  fare_amount          pickup_datetime  \
79226   2013-11-04 20:07:59.0000006         7.20  2013-11-04 20:07:59 UTC
366845  2013-11-13 10:53:50.0000001         6.00  2013-11-13 10:53:50 UTC

        pickup_longitude  pickup_latitude  dropoff_longitude  \
79226             -73.98            40.79                NaN
366845            -73.97            40.79                NaN

        dropoff_latitude  passenger_count
79226                NaN                0
366845               NaN                0
================================================================================
 Column :  |dropoff_latitude|
================================================================================
                                key  fare_amount          pickup_datetime  \
79226   2013-11-04 20:07:59.0000006         7.20  2013-11-04 20:07:59 UTC
366845  2013-11-13 10:53:50.0000001         6.00  2013-11-13 10:53:50 UTC

        pickup_longitude  pickup_latitude  dropoff_longitude  \
79226             -73.98            40.79                NaN
366845            -73.97            40.79                NaN

        dropoff_latitude  passenger_count
79226                NaN                0
366845               NaN                0
================================================================================

In [7]:
# according to https://en.wikipedia.org/wiki/Decimal_degrees we can have a precision of tectonic survey using 
# only 8 decimal places is needed. latitute and longitude could be downcasted to a format that handles 8 decimals
#8 bits coud represent a number of 256 digits... that's makes enough to a taxi fare... 
new_types = {
    'fare_amount':np.float32, #   'pickup_datetime': datetime.datetime, 
    'pickup_longitude':np.float32,
    'pickup_latitude':np.float32,
    'dropoff_longitude':np.float32,	
    'dropoff_latitude':np.float32,
    'passenger_count':np.int8
}

dataset=dataset.astype(new_types)
# date to datetime 
dataset.pickup_datetime = pd.to_datetime(dataset.pickup_datetime)

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500000 entries, 0 to 5499999
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   key                object
 1   fare_amount        float32
 2   pickup_datetime    datetime64[ns, UTC]
 3   pickup_longitude   float32
 4   pickup_latitude    float32
 5   dropoff_longitude  float32
 6   dropoff_latitude   float32
 7   passenger_count    int8
dtypes: datetime64[ns, UTC](1), float32(5), int8(1), object(1)
memory usage: 194.1+ MB

We reduced more than 50% of memory usage on dataframe

In [9]:
#before remove nan
dataset.isnull().sum()

key                   0
fare_amount           0
pickup_datetime       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude    33
dropoff_latitude     33
passenger_count       0
dtype: int64

In [10]:
# since we have a lot data lets assume that 'll not be prejudicial drop na from sample
dataset.dropna(inplace=True)

In [11]:
#after remove nan
dataset.isnull().sum()

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

checking distribution of data. Included 0.01 and 0.999 because, thats problably 'll indicate some outliers

In [12]:
#describing 
dataset.describe([.01,.05,.10,.25,.5,.75,.9,.99,.999])

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,5499967.00,5499967.00,5499967.00,5499967.00,5499967.00,5499967.00
mean,11.35,-70.51,42.23,-70.51,42.22,1.68
std,41.14,12.46,10.10,12.98,9.66,1.31
min,-67.00,-3414.13,-3492.26,-3428.04,-3461.54,-127.00
1%,3.30,-74.01,0.00,-74.02,0.00,1.00
5%,4.10,-74.01,40.70,-74.01,40.69,1.00
10%,4.50,-74.00,40.72,-74.00,40.71,1.00
25%,6.00,-73.99,40.73,-73.99,40.73,1.00
50%,8.50,-73.98,40.75,-73.98,40.75,1.00
75%,12.50,-73.97,40.77,-73.96,40.77,2.00
90%,20.50,-73.95,40.78,-73.95,40.78,4.00
99%,53.00,0.00,40.81,0.00,40.83,6.00
99.9%,80.00,0.00,40.86,0.00,40.90,6.00
max,93963.36,3442.19,3333.27,3453.42,3537.13,7.00

## Exporting preprocessed dataframe to csv file

In [14]:
# dropping key column

In [13]:
dataset.to_csv(f'../data/taxi_sample.csv')

observations:

* less than 1% porcent of data has :
    * zero passenger_count. that count don't makes sense. 
    * negative fare_amount, maybe a devolution?
    * dropoff coordenates 0 also looks like a problem with the data. 
*  Maximum and minimum values of variables are too much different  of the obeserved on the distribution. 
*  problably it s no make sense pickup latitude '0' so, we may have to work on a plan to not consider that. 
*  difference between median and avg on target variable and also in other features suggest a strong influence of that outliers on AVG.